<div class="row">
    <div class="alert alert-success" role="alert" ng-controller="orderController" ng-show="isOrdered()">Uw bestelling is succesvol geplaatst!</div>
    
    <div class="col-md-2">
      <div class="well">
      <h3 align="center">Filter</h3>
        <form class="form-horizontal">
          <div class="form-group">
            <label for="location1" class="control-label">Categorie:</label>
            <select ng-model="filterCategory" ng-change="filterProducts(filterCategory)" class="form-control">
                <option value="">Alle</option>
                <option ng-repeat="c in allCategories" value="{{c.id}}">{{c.category}}</option>
              
            </select>
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-danger col-md-12" ng-controller="ShoppingCartController" ng-click="">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                Zoeken
            </button>
          </div>
          
        </form>
      </div>
    </div>
    
    <div class="col-md-10 col-xs-12">
        <span ng-show="(filteredProducts.length == 0)">Er zijn geen producten in deze categorie.</span>
        <div class="col-md-4 col-xs-12" ng-repeat="p in filteredProducts">
            <h2>{{p.name}}</h2>
            <div class="col-md-12">{{p.description}}</div>
            <div class="col-md-12">&euro;{{p.price | number:2}}</div>
            <div class="col-md-12">Voorraad: {{p.stock}}</div>
            <button type="button" class="btn" ng-controller="ShoppingCartController" ng-click="addToCart(p)" ng-disabled="p.stock == 0">
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                Toevoegen aan winkelwagen
            </button>
        </div>
        
            
    </div>
</div>
