
    <div class="row">
        <div class="col-md-offset-2 col-md-8">
            <form class="form-horizontal" ng-submit="RegisterAccount()">
                <fieldset>
                    
                    <div class="alert alert-danger" role="alert" ng-show="showMessage">{{message}}</div>
    
                    <!-- Form Name -->
                    <legend>Account aanmaken bij Pet Supplies</legend>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">E-mailadres</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="emailAddress">

                        </div>
                    </div>


                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Wachtwoord</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="password" placeholder="" class="form-control input-md" ng-model="password">

                        </div>
                    </div
                    
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Wachtwoord herhalen</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="password" placeholder="" class="form-control input-md" ng-model="passwordRepeat">

                        </div>
                    </div
                    
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Voornaam</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="firstName">

                        </div>
                    </div>

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Achternaam</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="lastName">

                        </div>
                    </div

                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Adres</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="address">

                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Postcode</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="postalCode">

                        </div>
                    </div>
                    <!-- Text input-->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="textinput">Stad</label>  
                        <div class="col-md-4">
                            <input id="textinput" name="textinput" type="text" placeholder="" class="form-control input-md" ng-model="city">

                        </div>
                    </div>

                    <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="singlebutton"></label>
                        <div class="col-md-4">
                            <button type="submit" id="singlebutton" name="singlebutton" class="btn btn-primary">Account aanmaken</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
